.left-column {
	float: left;
	width: 30%;
	height: 100%;
	overflow: auto;
}

.middle-column {
	float: left;
	width: 50%;
	height: 100%;
	overflow: auto;
}

.right-column {
	float: left;
	width: 20%;
	height: 100%;
	overflow: auto;
}

.bold {
	font-weight: bold;
}

.value {
	font-family: monospace;
}

#disassembly {
	font-family: monospace;
	height: 20em;
}

table, td, th {
	border: 1px solid gray;
}

#log {
	overflow-y: scroll;
	word-wrap: break-word;
	width: 100%;
	height: 30em;
}

#memory {
	height: 10em;
}
